
.about__content {
    max-width: 1070px;
}

.about__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    gap: 40px;
}

.about {
    padding-top: 118px;
    margin-bottom: 120px;
}

.about__title-name {
    color:#CDBB42;
    font-family: Tektur,sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    text-transform: uppercase;
}

.about__title-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about__title-text {
    color:#111110;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%; /* 26px */
    text-transform: uppercase;
}

.about__paragraph {
    margin-top: 42px;
    margin-left: 114px;
    max-width: 520px;
    color:#45453E;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}

.about__paragraph p:not(:nth-child(2)) {
    margin-bottom: 20px;
}

.about__items {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about__item {
    text-align: center;
}

.about__item-num {
    color:#8F9083;
    font-family: Tektur, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 52px */
}

.about__item-desc {
    color:#8F9083;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}

.history {
    padding-bottom: 120px   ;
}

.history__content {
    max-width: 914px;
}

.history__title {
    color: #CDBB42;
    font-family: Tektur,sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    text-transform: uppercase;
    margin-bottom: 40px;
}

.history__paragraph {
    margin-left: 114px;
    color:#45453E;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}

.history__paragraph p {
    max-width: 656px;
}

.history__items {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

.history__item-title {
    color:#8F9083;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.history__items-mobile {
    display: none;
}

.hero__container {
    position: relative;
}

.decor {
    top: 43%;
    right: 0;
    position: absolute;
    max-width: 221px;
}

.decor img {
    width: 100%;
}

.team {
    background-color: #3E3C34;
    padding: 120px 0;
}


.team__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team__arrows {
    display: none;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    gap: 40px;
}


.team__arrow-left, .team__arrow-right {
    cursor: pointer;
}

.team__title {
    color: #CDBB42;
    font-family: Tektur,sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    text-transform: uppercase;
}



.team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.team__slider {
    display: none;
}

.team__item {
    max-width: 314px;
    margin-bottom: 28px;

}

.team__item-media {
    max-width: 314px;
    margin-bottom: 20px ;
}

.team__item-media img {
    width: 100%;
}

.team__item-media-desc {
    position: relative;
    z-index: 2;
    margin-top: -60px;
    color: #FFF;
    font-family: Rubik,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    text-transform: uppercase;
    background-color: rgba(62, 60, 52, 0.80);
    text-align: center;
    padding: 10px 0;
}

.team__item-media-job {
    color:#D5D4CE;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    text-transform: none;
}

.team__item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 15px;
    color:#D5D4CE;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}

.team__item-text {
    max-width: 260px;
}

.footer {
    padding-top: 60px;
    background-color: #2F2E27;
    text-align: center;
}

.footer__nav {
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px;
    color:#D5D4CE;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    text-transform: uppercase;
}

.footer__nav-link {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.footer__nav-link:hover {
    color: #CDBB42;
}

.footer__contact {
    margin-top: 40px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    color:#FFF;
    font-family: Rubik,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}

.footer__contact-address {
    color: #D5D4CE;
    font-size: 16px;
}

.footer__copyright {
    border-top: 1px solid #38392E;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #C9C8C8;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
}

@media (max-width: 1300px) {
    .team__inner {
        display: none;
    }

    .team__arrows {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .team__slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .team__slide {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .team__item{
        padding: 0 15px;
        width: 100%;
        max-width: inherit;
    }

    .team__item-media {
        max-width: inherit;
        width: 100%;
    }
}


@media (max-width: 1100px) {
    .about__title-text {
        max-width: 389px;
    }
}

@media (max-width: 1024px) {
    .hero__title {
        font-size: 80px;
    }
}

@media (max-width: 1000px) {

}

@media (max-width: 856px) {
    .about__title {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 7px;
    }
    .about__title-text {
        max-width: inherit;
    }
}


@media (max-width: 768px) {
    .hero {
        background-image: url("../images/about-bg-mobile.png");
    }
    .decor {
        display: none;
    }

    .about__title, .history__title , .team__title {
        font-size: 44px;
    }
    .about__title-text {
        max-width: inherit;
    }
    .about__paragraph {
        margin-left: 0;
    }

    .hero__content {
        margin-left: 0;
    }



    .history__paragraph {
        margin-left: 0;
    }

    .team .container {
        position: relative;
    }

    .team__arrows {
        position: absolute;
        right: 5%;
        bottom: -5%;

    }
}

@media (max-width: 600px) {
    .hero {
        background-position-x: 70%;
    }

    .team__item{
        padding: 0 0;
    }

    .footer__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 450px) {


    .logo {
        max-width: 165px;
    }
    .logo svg {
        width: 100%;
    }



    .hero {
        background-position-x: 70%;
    }

    .hero__content {
        margin-top: 236px;
    }

    .hero__title {
        font-size: 48px;
    }

    .hero__text {
        margin-bottom: 223px;
        font-size: 16px;
    }
}

@media (max-width: 426px) {
    .about {
        padding-top: 80px;
        margin-bottom: 80px;
    }

    .about__title-name, .history__title, .team__title {
        font-size: 32px;
    }

    .about__title-text {
        font-size: 16px ;
    }


    .about__item-num {
        font-size: 30px ;
    }

    .about__item-desc {
        font-size: 14px;
    }



    .history {
        padding-bottom: 80px;
    }

    .history__items {
        display: none;
    }

    .history__item-title {
        margin-bottom: 0;
    }

    .history__items-mobile {
        display: block;
        margin-top: 40px;
    }

    .history__item-icon {
        max-width: 75px;
    }
    .history__item-icon svg {
        width: 100%;
    }

    .history__item-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 0px;
    }

    .team {
        padding: 80px 0;
    }

}

@media (max-width: 378px) {
    .hero {
        background-position-x: 75%;
    }
}