
.hero {
    background-image: url("../images/contacts-hero.png");
}

.map {
    padding: 120px 0;
    background-color: #1B1A18;
}

.map__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.map__tab-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #8F9083;
    font-family: Tektur,SansSerif   ;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    text-transform: uppercase;
    border-bottom: 4px solid #8F9083;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.map__tab-btn:hover {
    color: #E4C72B;
    border-color: #E4C72B;
}
.map__tab-btn.active {
    color: #E4C72B;
    border-color: #E4C72B;
}

.map__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.map__content.hidden {
    display: none;
}


.map__nav {
    max-width: 246px;
    color: #D5D4CE;
    font-family: Rubik,SansSerif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.map__nav-text {
    margin-bottom: 30px;
}

.map__nav-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.map__nav-item:hover {
    color: #E4C72B;
}
.map__nav-item.active {
    color: #E4C72B;
}

.map__image {
    max-width: 755px;
}

.map__image img {
    width: 100%;
}

.form {
    padding: 120px 0;
    background-image: url("../images/form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form__content {
    max-width: 546px;
}

.form__title {
    color:#E4C72B;
    font-family: Tektur,SansSerif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    text-transform: uppercase;
    margin-bottom: 40px;
}

.form__action {
    max-width: 337px;
}

.form__input {
    width: 100%;
    padding: 16px;
    background: transparent;
    border-bottom: 1px solid #8F9083;
    color: #FFFFFF;
    font-family: Rubik,SansSerif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
}
.form__input::-webkit-input-placeholder {
    color: #8F9083;
}
.form__input::-moz-placeholder {
    color: #8F9083;
}
.form__input:-ms-input-placeholder {
    color: #8F9083;
}
.form__input::-ms-input-placeholder {
    color: #8F9083;
}
.form__input::placeholder {
    color: #8F9083;
}

.form__label {
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color:#D5D4CE;
    font-family: Rubik,SansSerif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
}

.form__input-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form__item label {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form__item label a {
    margin-left: 5px;
    color: #8F9083;
    text-decoration: underline;
}

.form__button {
    padding: 16px 0;
    width: 100%;
    background-color: #E4C72B;
    color:#111110;
    font-family: Rubik,SansSerif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    text-transform: uppercase;
}

.form__address-text {
    color: #D5D4CE;
    font-family: Rubik,SansSerif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    margin-bottom: 20px;
}

.form__address-inner {
    padding: 40px;
    border: 1px solid  #38392E;
    background-color: #1B1A18;

}

.form__address-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    color:#D5D4CE;
    font-family: Rubik,SansSerif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}


@media (max-width: 1024px) {
    .form__container {
        -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
        position: relative;
    }

    .form__address {
        position: absolute;
        right: 2%;
        top: 30%;
    }

    .form__address-inner {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .hero {
        background-position-x: center;
    }

    .map__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .map__nav {
        max-width: inherit;
        width: 100%;
    }

    .map__tabs {
        width: 100%;
        overflow: scroll;
    }

    .map__tab-btn {
        font-size: 32px;
    }

    .map__nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;
        width: 100%;
        overflow: auto;
    }
    .map__nav-item {
        font-size: 16px;
        padding: 10px 20px;
        text-wrap: nowrap;
        border-radius: 100px;
        border: 1px solid #BAB6A7;
    }

    .map__nav-item.active {
        border-color:#8F9083 ;
        color: #FFFFFF;
        background-color: #8F9083;
    }
    .form__container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: inherit;
    }

    .form__address {
        position: inherit;
    }

    .form__address-add {
        font-size: 16px;
    }


}

@media (max-width: 688px) {
    .map {
        padding: 80px 0;
    }

    .form {
        background-image: url("../images/form-mobile.png");
        padding: 80px 0;
    }

    .form__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .form__content {
        margin-bottom: 60px;
    }

    .form__action {
        max-width: inherit;
    }

    .form__title {
        max-width: 213px;
        font-size: 32px;
    }

    .form__address-inner {
        padding: 30px 20px;
    }
}

@media (max-width: 500px) {


    .map__tabs {
        gap: 0;
    }

    .map__tab-btn {
        padding: 10px 50px;
    }

    .map__tab-icon {
        display: none;
    }
}

@media (max-width: 450px) {
    .hero {
        background-position-x: center;
    }
}

@media (max-width: 370px) {
    .form__label {
        font-size: 11px;
    }
}